body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo{
    width: 200px;
    height: 200px;
    float: left;
    color: white;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

